/bin/
/lib/
/obj/
/output/
/cache/
/boost/
/closure/
/closure-orig/
/commons-lang*/
/commons-io-*/
/gperftools-*/
/idlgen/
/idlgen-orig/
/wali/
/wala/
/JavaBDD/
/js-1.8.5/
/yices-*/
/XSB/
/jamscript/
/tests/
/packages/
/unpacked/
/cache-bak*/
/output-*
*.class
*.pyc
.svn/
.*.swp
