bin/
lib/
obj/
output/
cache/
boost/
closure/
closure-orig/
commons-lang*/
commons-io-*/
gperftools-*/
wali/
wala/
JavaBDD/
js-1.8.5/
yices-*/
XSB/
jamscript/
packages/
output-*
*.class
*.pyc
.svn/
.*.swp
